:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 5vw;
  line-height: 7.5vw;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

input,
button {
  border-radius: 3vw;
  border: 0.25vw solid transparent;
  padding: 2.4vw 4.8vw;
  font-size: 4vw;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
  box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.2);
}

input,
button:enabled {
  color: #0f0f0f;
  background-color: #ffffff;
}

input,
button:disabled {
    background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
    color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
    border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
    opacity: 0.6;
}}

button {
  cursor: pointer;
}

button:hover:enabled {
  border-color: #396cd8;
}

button:active:enabled {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

.tables-three-columns {
  list-style-type: none; /* Removes the numbers from the list items */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three equal-width columns */
  gap: 2.5vw; /* Adds spacing between the items */
  padding: 0;
 }   

.hide {
    display: none;
}

#nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding-top: 3vh; /* so the buttons are clickable on Android */
}
